---
import BlogPost from '../../components/BlogPost.astro';
import type { Post } from '../../interfaces/Post';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const allPosts = (await Astro.glob('../posts/*.md')) as Post[];

  // Obtener todos los tags únicos de todos los posts
  const uniqueTags = [
    ...new Set(allPosts.flatMap((post) => post.frontmatter.tags)),
  ];

  // Crear una ruta para cada tag
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      (post.frontmatter.tags ?? []).includes(tag ?? '')
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag = 'sin-etiqueta' } = Astro.params;
const pageTitle = `Entradas etiquetadas con ${tag}`;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) =>
  post.frontmatter.tags?.includes(tag)
);
---

<BaseLayout pageTitle={pageTitle}>
  <p>Entradas etiquetadas con {tag}</p>
  <ul>
    {
      filteredPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
